:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-regular: 32px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-xl: 1.6;
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
  --margin-xs: 8px;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-break: break-word;
  line-break: auto;
}

.gradient-text {
  background: linear-gradient(to right top, #0B1957, #5784E6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: var(--max-size) !important;
  color: var(--color-regular);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding-right: var(--padding-md);
  padding-left: var(--padding-md);
}

.color {
  color: var(--color-blue-main);
}
.color--grey {
  color: var(--color-grey);
}

.mobile-only {
  display: block;
}
@media (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none !important;
}
@media (min-width: 640px) {
  .desktop-only {
    display: block;
  }
}

.bg-light {
  background: var(--color-white);
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 4 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-regular: 32px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-xl: 1.6;
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
  --margin-xs: 8px;
}

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Bold.woff2") format("woff2"), url("./assets/fonts/Jost-Bold.woff") format("woff"), url("./assets/fonts/Jost-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Regular.woff2") format("woff2"), url("./assets/fonts/Jost-Regular.woff") format("woff"), url("./assets/fonts/Jost-Regular.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-SemiBold.woff2") format("woff2"), url("./assets/fonts/Jost-SemiBold.woff") format("woff"), url("./assets/fonts/Jost-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.headline {
  font-size: var(--fs-xxl);
  font-weight: 500;
  color: var(--color-blue-main);
  position: relative;
  line-height: 1;
}
.headline--margin-sm {
  margin-bottom: 30px;
}
.headline--light {
  color: var(--color-white);
}
.headline--center::after {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  display: flex;
  align-items: center;
  height: 50px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  overflow: hidden;
  color: var(--color-white);
  font-size: var(--fs-regular);
  cursor: pointer;
}
.button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: var(--padding-sm);
  background-color: var(--color-white);
  z-index: 1;
}
.button__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.button__text {
  padding: 0 var(--padding-sm);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}
.button:hover .button__text {
  color: var(--color-blue-second);
}
.button:hover::before {
  transform: translateX(0);
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}
.button--color {
  color: var(--color-regular);
}
.button--color .button__icon {
  background-color: var(--color-blue-main);
}
.button--color:hover .button__text {
  color: var(--color-white);
}
.button--color::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-main);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}

.text {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  gap: var(--gap-sm);
  flex: 1;
  width: 50%;
}
.text--start {
  margin: 0;
}
.text--full {
  width: 100%;
  flex-grow: 1;
}
.text--max-width {
  flex-basis: 100%;
}
.text-base {
  font-size: var(--fs-base);
  font-weight: 600;
}
.text-base--normal {
  font-weight: 500;
}
.text-regular {
  font-size: var(--fs-regular);
  font-weight: 600;
}
@media (min-width: 640px) {
  .text-regular {
    font-size: var(--fs-md);
  }
}
.text-sm {
  font-size: var(--fs-sm);
  font-weight: 500;
}

:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-regular: 32px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-xl: 1.6;
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
  --margin-xs: 8px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.group--center {
  align-items: center;
  justify-content: center;
}
.group--mobile {
  flex-direction: column;
  gap: var(--gap-md);
}
@media (min-width: 640px) {
  .group--mobile {
    flex-direction: row;
    gap: var(--gap-lg);
  }
}

:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-regular: 32px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-xl: 1.6;
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
  --margin-xs: 8px;
}

.date {
  display: flex;
  font-size: var(--fs-base);
}
.date__item {
  padding: var(--padding-sm);
}
.date__item:nth-child(1) {
  padding-left: 0;
}
.date__item:not(:last-child) {
  border-right: 1px solid var(--color-white);
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease;
  color: var(--color-white);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
}
.header__item {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.header__menu {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 0;
  transition: all 0.3s ease;
  z-index: 8;
}
.header__menu.active {
  display: flex;
  counter-reset: link-counter;
  top: 50vh;
  transform: translateY(-20vh);
}
.header__menu.active .header__link {
  font-size: var(--fs-md);
  counter-increment: link-counter;
}
.header__menu.active .header__link::before {
  content: "0" counter(link-counter) ". ";
  margin-right: 0.5em;
}
.header__link {
  font-size: var(--fs-base);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-shadow: 0 0 0 rgba(87, 132, 230, 0);
}
.header__link:hover {
  color: #7fa7ff;
  text-shadow: 0 0 30px rgba(87, 132, 230, 0.5), 0 0 50px rgba(87, 132, 230, 0.7);
}
.header__link:last-child {
  border-bottom: none;
}
.header__logo:hover svg {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}
.header__link--main {
  color: var(--color-orange);
  font-weight: 500;
}
.header__link--main:hover {
  color: var(--color-orange-dark);
}
.header__button {
  font-size: var(--fs-regular);
  transition: transform 0.2s ease;
}
.header__button:hover {
  transform: scale(1.05);
}
.header__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  margin-left: auto;
  border: 2px solid var(--color-white);
}
.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--color-white);
  transition: all 0.3s ease;
}
.header__hamburger::before {
  transform: rotate(0deg);
}
.header__hamburger::after {
  transform: rotate(90deg);
}
.header__hamburger.active::before, .header__hamburger.active::after {
  width: 50px;
}
.header__hamburger.active::before {
  transform: rotate(45deg);
}
.header__hamburger.active::after {
  transform: rotate(135deg);
}
@media (min-width: 767px) {
  .header__button {
    font-size: var(--fs-regular) !important;
  }
}
@media (min-width: 1024px) {
  .header__content {
    flex-direction: row;
  }
  .header__item {
    gap: var(--gap-xl);
  }
  .header__item:first-child {
    flex-grow: 1;
  }
  .header__menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    box-shadow: none;
    border-bottom: none;
    gap: var(--gap-lg);
    opacity: 1 !important;
    visibility: visible !important;
  }
  .header__link {
    font-size: var(--fs-regular);
    padding: 0;
    border-bottom: none;
    text-align: center;
  }
  .header__link:hover {
    background-color: transparent;
  }
  .header__hamburger {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--padding-sm);
}
.form__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: var(--gap-md);
       column-gap: var(--gap-md);
  row-gap: var(--gap-sm);
}
.form__item {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  position: relative;
}
@media (min-width: 640px) {
  .form__item {
    grid-column: span 1;
  }
}
.form__item:last-child:nth-child(odd) {
  grid-column: span 2;
}
.form__input {
  padding: var(--padding-sm);
}
.form__label {
  font-size: var(--fs-regular);
  margin-bottom: var(--margin-xs);
}

.error-message {
  position: absolute;
  top: 92%;
  color: #ff0000;
  font-size: var(--fs-sm);
  margin-top: 5px;
}

.list {
  position: relative;
}
.list__content {
  display: flex;
  flex-direction: column;
}
.list--mobile .list__header {
  flex-basis: 50%;
}
.list--mobile .list__items {
  flex-basis: 50%;
}
@media (min-width: 640px) {
  .list--mobile .list__content {
    flex-direction: row;
  }
}
.list__header {
  padding: var(--padding-xl) var(--padding-sm) var(--padding-md);
}
@media (min-width: 640px) {
  .list--mobile .list__header {
    height: -moz-max-content;
    height: max-content;
    border: none !important;
    position: sticky;
    top: 0;
  }
}
.list__items {
  display: flex;
  flex-direction: column;
}
.list__items--column {
  flex-direction: column !important;
}
@media (min-width: 640px) {
  .list__items--border-top {
    border-top: 1px solid var(--color-grey-light);
  }
}
@media (min-width: 640px) {
  .list--mobile .list__items {
    padding-top: var(--padding-lg);
  }
}
@media (min-width: 640px) {
  .list:not(.list--mobile) .list__items {
    flex-direction: row;
  }
}
.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 74px;
  font-size: var(--fs-regular);
  padding: var(--padding-sm);
  gap: clamp(var(--gap-sm), 3vw, var(--gap-regular));
}
.list__item--column {
  gap: var(--gap-sm);
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.list__item--start {
  align-items: start;
}
.list__item:nth-child(2n) .list__image {
  order: -1;
}
@media (min-width: 640px) {
  .list__item:not(.list__item--sm) {
    font-size: var(--fs-md);
  }
}
@media (min-width: 640px) {
  .list__item {
    min-height: 135px;
  }
}
@media (min-width: 640px) {
  .list:not(.list--mobile) .list__item {
    flex-grow: 1;
    flex-basis: 50%;
    border-right: 1px solid var(--color-grey-light);
    border-bottom: none;
  }
}
.list__image {
  flex: 1;
  width: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.list__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer {
  height: 100vh;
  background: linear-gradient(to left bottom, #5784E6 -24.17%, #0B1957 72.1%);
}
.offer__content {
  color: var(--color-white);
  gap: var(--gap-md);
  justify-content: center;
  height: 100%;
  position: absolute;
}
.offer__content.active {
  opacity: 0;
  visibility: hidden;
}
.offer__text {
  font-size: var(--fs-base);
}

.description__content {
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
}
.description__text {
  font-size: var(--fs-md);
}
@media (min-width: 640px) {
  .description__text {
    font-size: var(--fs-lg);
  }
}

:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-regular: 32px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-xl: 1.6;
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
  --margin-xs: 8px;
}

.headgroup {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
.headgroup__label {
  font-size: var(--fs-regular);
}
.headgroup__label::before {
  content: "[ ";
}
.headgroup__label::after {
  content: " ]";
}
.headgroup__headline {
  font-size: var(--fs-base);
}
@media (min-width: 640px) {
  .headgroup__headline {
    font-size: var(--fs-lg);
  }
}

.partners {
  position: relative;
}
.partners::after {
  content: "";
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 100%;
  height: 250px;
  width: 600px;
  border: var(--color-grey-light);
}
.partners::before {
  content: "";
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 100%;
  height: 250px;
  width: 600px;
  border: var(--color-grey-light);
}
.partners__item {
  height: 250px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-right: none;
}
.partners__item:nth-last-child(1) {
  border-right: 1px solid var(--color-grey-light);
}
.partners__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-sm);
  border: 1px solid var(--color-grey-light);
  height: calc(100% - 2 * var(--margin-sm));
}
.partners__image {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --color-blue-main: #5784e6;
  --color-blue-second: #0B1957;
  --color-orange: #f27028;
  --color-orange-second: #f59324;
  --color-regular: #343434;
  --color-grey: #7D7D7D;
  --color-grey-light: #EFEFEF;
  --color-white: #fff;
  --gap-xl: 64px;
  --gap-lg: 48px;
  --gap-regular: 32px;
  --gap-md: 24px;
  --gap-sm: 16px;
  --padding-xl: 64px;
  --padding-lg: 48px;
  --padding-md: 24px;
  --padding-sm: 16px;
  --radius-lg: 24px;
  --radius-sm: 8px;
  --fs-xxl: 4rem;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-base: 1.5rem;
  --fs-regular: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
  --lh-xl: 1.6;
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --max-size: 1140px;
  --border-h-lg: 4px;
  --border-h-md: 2px;
  --margin-xl: 64px;
  --margin-lg: 48px;
  --margin-md: 24px;
  --margin-sm: 16px;
  --margin-xs: 8px;
}

.footer {
  background: linear-gradient(to right bottom, #5784E6 -24.17%, #0B1957 72.1%);
}
.footer__content {
  display: grid;
  gap: var(--gap-md);
  color: var(--color-white);
  grid-template-columns: 0.7fr 2fr;
  grid-auto-rows: max-content;
}
.footer__item {
  grid-column: span 2;
}
@media (min-width: 640px) {
  .footer {
    margin-top: var(--margin-xl);
  }
  .footer__item {
    grid-column: span 1;
  }
}

.margin-top-sm {
  margin-top: var(--margin-sm);
}
.margin-top-md {
  margin-top: var(--margin-md);
}
.margin-top-lg {
  margin-top: var(--margin-lg);
}
.margin-top-xl {
  margin-top: var(--margin-xl);
}
.margin-bottom-sm {
  margin-bottom: var(--margin-sm);
}
.margin-bottom-md {
  margin-bottom: var(--margin-md);
}
.margin-bottom-lg {
  margin-bottom: var(--margin-lg);
}
.margin-bottom-xl {
  margin-bottom: var(--margin-xl);
}
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-auto {
  margin: auto;
}

.padding-top-sm {
  padding-top: var(--margin-sm);
}
.padding-top-md {
  padding-top: var(--margin-md);
}
.padding-top-lg {
  padding-top: var(--margin-lg);
}
.padding-top-xl {
  padding-top: var(--margin-xl);
}
.padding-bottom-sm {
  padding-bottom: var(--margin-sm);
}
.padding-bottom-md {
  padding-bottom: var(--margin-md);
}
.padding-bottom-lg {
  padding-bottom: var(--margin-lg);
}
.padding-bottom-xl {
  padding-bottom: var(--margin-xl);
}

.line-top {
  border-top: 1px solid var(--color-grey-light);
}
.line-bottom {
  border-bottom: 1px solid var(--color-grey-light);
}
.line-left {
  border-left: 1px solid var(--color-grey-light);
}
.line-right {
  border-right: 1px solid var(--color-grey-light);
}
.line-center {
  position: relative;
}
.line-center::after {
  content: "";
  top: 0;
  left: 50%;
  height: 100%;
  position: absolute;
  width: 1px;
  background-color: var(--color-grey-light);
}

* {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: inherit;
  scroll-behavior: smooth;
  z-index: 1;
  line-height: var(--lh-lg);
}

body {
  overflow-x: hidden !important;
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0);
}

#offer:target {
  scroll-margin-top: 200px;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
  max-width: 100vw !important;
}

.double-arrow {
  position: relative;
  width: 40px;
  height: 60px;
  margin: 40px 0;
  transform: translateX(9px);
}
.double-arrow::before, .double-arrow::after {
  content: "";
  left: 0;
  position: absolute;
  width: 44px;
  height: 44px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: gradientAnimation 2s infinite alternate;
}
.double-arrow::before {
  transform: rotate(45deg);
  animation-delay: 0.1s;
}
.double-arrow::after {
  top: 30px;
  transform: rotate(45deg);
}
@media (min-width: 640px) {
  .double-arrow {
    right: 0;
    left: calc(100% - 64px);
  }
}

@keyframes gradientAnimation {
  0% {
    border-color: #0B1957;
  }
  100% {
    border-color: #5784E6;
  }
}
.background {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 250px;
}

.swiper {
  overflow: visible;
  overflow-x: hidden;
  width: 100vw;
}

.map {
  width: 100vw;
  height: 528px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 640px) {
  .map {
    width: 100%;
  }
}

.link {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */